.TitleCard {
    width: 100%;
    color: white !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.InputField {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ReportForm {
    width: 100%;
}

.TitleCardBackground {
    background-color: #E56660 !important;
    border: #E56660 !important;
    margin-top: 30px;
}

.SubmitButton {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #E56660 !important;
    border: #E56660 !important;
    color: white;
    font-family: "Raleway", sans-serif;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
}
  